@import "~bootstrap/scss/bootstrap";

* {
  font-family: "Poppins", serif;
  font-weight: normal;
}

body {
  background-color: #DCDDDB;
}


h1 {
  color: #3D3A38;
  margin: 20px;
}

h2, h3, h4, h5 {
  color: #F3EFF5;
  margin: 20px;

}

nav {
  position: sticky;
  top: 0;
  z-index: 99999;
}

nav ul li {
  list-style-type: none;
}

nav ul {
  display: inline-flex;
  margin: 2px 50px;
}

nav li {
  margin-right: 50px;
}

nav {
  background-color: #3D3A38;
}

main {
  width: 75%;
  margin: 0 auto;
  background-color: #DCDDDB;
}


.top-items-container h5 {
  text-align: left;
  margin-left: 80px;
  border-bottom: solid 1px;
  padding: 10px;
}

.top-items-container {
  margin: 50px 0;
  background-color: #926349;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#productDetail {
  margin: 50px auto;
  width: 75%;
}

#leftProductDetail {
  float: left;
  display: grid;
  width: 50%;
}

#leftProductDetail h5 {
  margin: 0 0 20px 0;
  text-align: left;
}

#leftProductDetail img {
  margin-top: 0;
}

#leftProductDetail input {
  margin-top: 20px;
  width: 35px;
  float: left;
}

#leftProductDetail button {
  width: 25%;
  margin-left: -100px;
}

#leftProductDetail h5 {
  color: black
}

#leftProductDetail form {
  display: grid;
}

#rightProductDetail {
  padding-top: 50px;
  text-align: left;
}

#cart thead{
  border-bottom: solid black;
  border-width: 2px;
}

#cart tbody{
  border-bottom: dotted black;
  border-width: 2px;
}

#cart th{
  width: 35%;
}

#cart input {
  width: 40px;
  margin-right: 20px;
}

label {
  float: left;
  margin: 15px 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}

#filterMode {
  padding: 20px;
  position: absolute;
  z-index: 20;
  width: max-content;
  margin-top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  background-color: white;
}

#filterMode .btn-primary {
  margin: 20px;
}

#filterMode img {
  display: inline-block;
}

#filterMode form {
  display: inline;
}

.slidecontainer {
  width: 100%;
}

.card {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #926349;
}

.card-img-top {
  width: 120px;
  margin: 0 auto
}

.card-body {
  padding: 20px 50px
}

.card-body p {
  font-size: 15px;
  color: white;
}


.card-title {
  font-size: 18px;
  color: #F3EFF5;
  text-decoration: none;
}

.card:hover .card-title {
  text-decoration: underline;
}

.cart-card {

  width: 100%;
  padding: 10px;
  border: none;
  background-color: #926349;
    display: inline-flex;
}

a:hover {
  text-decoration: none;
}

.slider {
  -webkit-appearance: none;
  border-radius: 5px;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #926349;
  cursor: pointer;
}

/* The dropdown container */
.dropdown {
  float: left;
}


/* Dropdown button */
nav ul li, .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  display: flex;
}

.dropbtn a {
  color: white;
}

nav ul li, .dropdown .dropbtn p {
  margin: 0;
}

nav ul li a {
  color: white;
}

nav ul li a:hover {
  color: white;
  text-decoration: none;
}

/* Add a red background color to navbar links on hover */
nav ul li:hover, .dropdown:hover .dropbtn {
  background-color: #926349;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.btn-primary {
  background-color: #926349;
  border: none;
}

.btn-primary:hover {
  background-color: #B03C1C;
  border: none;
}

.btn-primary:focus {
  background-color: #B03C1C;
  border: none;
}

#nav-account {
  display: inline-flex;
  position: absolute;
  right: 100px;
  height: 52px;
}

section#navigation {
  margin-top: 115px;
  text-align: left;
}

#formButton {
  height: 30px;
}

#filter {
  float: right;
  width: 100px;
  height: 30px;
}

.material-icons {
  margin-right: 5px;
}

